@{
    ViewData["Title"] = "Product";
    Layout = "_ManagementLayout";
}

@section Styles{
    <link rel="stylesheet" href="~/css/admin/book.css">
}

<div style="width: 100%;height: 4rem;background-color: white; position: fixed; z-index: 1;">
    <nav class="navbar">
        <div class="container-fluid">
            <div class="row">
                <div class="d-flex" id="search_box_product" role="search">
                    <input class="form-control me-2" id="txt_search_pro" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" id="btn_search_product">Search</button>
                    <a asp-controller="Book" asp-action="Create" >
                        <button class="btn btn-warning" style="width: 8rem;margin-left: 2rem">New</button>
                    </a>  
                </div>
            </div>
        </div>
    </nav>
</div>
<div class="container-product" style="padding-top: 5rem">
    @for (int i = 0; i < 10; i++)
    {
        <div class="item">
            <div class="row">
                <div class="col-2">
                    <div class="thumbnail">
                          <img class="group list-group-image" src="~/img/book/book_demo.jpg" style="width: 11rem; height: 12.5rem">
                    </div>
                </div>
                <div class="col-7">
                    <div class="caption" style="margin-left: 2rem; margin-top: 1rem">
                         <div class="category mt-3">
                             <h5 class="category-name" style="margin-bottom:1rem">book title @i</h5>
                         </div>
                         <h6>Author: auth name @i</h6>
                         <h6>Category: cate name @i</h6>
                         <h6>Supplier: cate name @i</h6>
                         <h6>Price: 12@(i)$</h6>
                         <h6>Quantity:@i</h6>
                        <h6 style="text-align:justify">
                            Description:There may be references in this publication to other publications currently under development by NIST in
                            accordance with its assigned statutory responsibilities. The information in this publication, including concepts and
                            methodologies, may be used by federal agencies even before the completion of such companion publications. Thus,
                            until each publication is completed, current requirements, guidelines, and procedures, where they exist, remain
                            operative. For planning and transition purposes, federal agencies may wish to closely follow the development of
                            these new publications by NIST.
                        </h6>
                     </div>
                 </div>
                 <div class="col-2" style="text-align: center">
                     <div style="margin-top:50%">
                         <button class="btn btn-info" data-pro-id="@i">Update</button>
                         <button class="btn btn-danger btn-delete-pro" data-pro-id="@i">Delete</button>
                     </div>
                 </div>
            </div>
        </div>
    }
</div>
<!-- model-->
<div class="modal fade" id="new_pro_model" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog  modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Add product</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div style="padding:1rem">
                <form action="/product-add" method="post" id="pro_form">
                    <div class="mb-4">
                        <label for="pro_name" class="form-label">Name</label>
                        <input type="text" name="proName" class="form-control" id="pro_name" placeholder="product name" style="display: inline-block" required>
                    </div>
                    <div class="mb-4">
                        <label for="pro_cate" class="form-label">Category</label>
                        <select class="form-control" name="cateId" id="pro_cate" style="display: inline-block" required>
                            <option value="">Choose category</option>
                            <% for (let i=0;i < cateList.length;i++) {%>
                            <option value="<%= cateList[i].cate_id %>"><%= cateList[i].cate_name %></option>
                            <% }%>
                        </select>
                    </div>
                    <div class="mb-4">
                        <label for="pro_sup" class="form-label">Supplier</label>
                        <select class="form-control" name="supId" id="pro_sup" style="display: inline-block" required>
                            <option value="">Choose supplier</option>
                            <% for (let i=0;i < supList.length;i++) {%>
                            <option value="<%= supList[i].sup_id %>"><%= supList[i].sup_name %></option>
                            <% }%>
                        </select>
                    </div>
                    <div class="mb-4">
                        <label for="pro_price" class="form-label">Price</label>
                        <input type="number" name="price" class="form-control" id="pro_price" placeholder="price" style="display: inline-block" required>
                    </div>
                    <div class="mb-4">
                        <label for="pro_quantity" class="form-label">Quantity</label>
                        <input type="number" name="quantity" class="form-control" id="pro_quantity" placeholder="quantity" style="display: inline-block" required>
                    </div>
                    <div class="mb-4">
                        <label for="img_preview" class="form-label" id="lb_img">Image</label>
                        <div style="display: block">
                            <img src="/images/demo-image.jpg" alt="..." class="img-thumbnail" id="img_preview" style="width: 13rem;">
                        </div>
                        <input type="file" name="proImage" id="pro_img" hidden>
                        <button type="button" class="btn btn-primary mt-3" id="btn_open_dialog_image">Choose image</button>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- confirm delete model -->
<button type="button" id="btn_show_confirm_delete" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" hidden>
</button>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Confirm delete</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="content_confirm_delete">
                Delete this product
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" id="btn_ok_delete" class="btn btn-primary">OK</button>
            </div>
        </div>
    </div>
</div>
<!-- confirm delete model -->

@section Scripts{

}